div{
    width:100px;
    height:100px;
    background-color: aqua;
    border: 2px solid black;
}
#box1{
    position: static;
    background-color: aqua;
}
#box2{
    position: relative;
    top: 10px;
    left:20px;
    color: aliceblue;
    background-color: rgb(0, 0, 0);
}
#box3{
    position: sticky;
    top: 100px;
    left: 100px;
    background-color: red;
}
#box4{
background-color: purple;
position: fixed;
}