nav{
    height:50px;
    
    border: 2px solid black;
    background-color: red;   
}
div{
    color:aliceblue;
    
}
a{
    color: aliceblue;
    text-decoration: none;
    margin-right: 80px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}